* {
  box-sizing: border-box;
}

p{
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section{
  position: relative;
  margin-top: 40px;
}
.wrapper {
  box-shadow: 1px 1px 27px -6px #d4d4d4;
  padding: 0 40px;
  position: relative;
  background-color: #fff;
}
.line-seperator {
  width: 30px;
  height: 2px;
  background-color: #69cfd8;
}

.section-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.section-title .title-seperator{
  width: 75px;
  height: 2px;
  background-color: #69cfd8;
}

.main-menu {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu li {
  display: inline-block;
  padding: 20px;
}

.main-menu li a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

#intro .intro-wrapper {
  min-height: 520px;
  position: relative;
  display: flex;
}

#intro .intro-wrapper .text .intro-button {
  margin-top: 30px;
  font-size: 14px;
}

#intro .intro-wrapper .text .intro-button .btn{
  padding: 15px 30px;
  text-align: center;
  background-image: linear-gradient(120deg, #89f7fe -35%, #66a6ff 100%);
  border-radius: 35px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 3px;
  transition: all .3s ease-in-out;
}

#intro .intro-wrapper .text .intro-button .btn:hover {
  box-shadow: 1px 6px 10px -1px #d4d4d4;
}

#intro .intro-wrapper .lines{
  position: absolute;
  bottom: -250px;
  left: -40px;
  width: 290px;
  height: 290px;
}

#intro .intro-wrapper .lines .img{
  background-image: url(../img/lines-1.svg);
  height: 100%;
  background-position: -180px;
  background-repeat: no-repeat;
}

#intro .intro-wrapper .text{
  max-width: 40%;
}
#intro .intro-wrapper .text {
  max-width: 40%;
  padding-top: 70px;
}
#intro .intro-wrapper .image {
  position: absolute;
  top: 0;
  right: -3%;
  width: 60%;
}

#intro .intro-wrapper .image img {
  width: 100%;
  height: 100%;
}

#services {
  margin-top: 40px;
}

#services .item-wrapper .shapes{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
#services .item-wrapper .shapes > img:first-child{
  animation: move 40s ease-in-out infinite;
}

#services .item-wrapper .shapes > img:last-of-type{
  animation: move-reverse 40s ease-in-out infinite;
}


#services .item-wrapper .shapes > img{
  width: 100%;
  position: absolute;
}

#services .item-wrapper .shapes .icon{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services .item-wrapper .shapes .icon img{
  width: 50px;
  z-index: 2;
}

#services .services-wrapper .lines{
  position: absolute;
  top: -160px;
  right: -40px;
  width: 310px;
  height: 270px;
}

#services .services-wrapper .lines .img{
  background-image: url(../img/lines-1.svg);
  height: 100%;
  background-position: 160px;
  background-repeat: no-repeat;
}

.delay-1{
  animation-delay: 1s;
}

.delay-2{
  animation-delay: 2s!important;
}

.delay-3{
  animation-delay: 3s!important;
}
@keyframes move {
  0%   { transform: scale(1); }
  38%  { transform: scale(0.8, 1) rotate(160deg); }
  40%  { transform: scale(0.8, 1) rotate(160deg); }
  78%  { transform: scale(1.1) rotate(-20deg); }
  80%  { transform: scale(1.1) rotate(-20deg); }
  100% { transform: scale(1); }
}


@keyframes move-reverse {
  0%   { transform: scale(1); }
  38%  { transform: scale(0.8, 1) rotate(-160deg); }
  40%  { transform: scale(0.8, 1) rotate(-160deg); }
  78%  { transform: scale(1.1) rotate(20deg); }
  80%  { transform: scale(1.1) rotate(20deg); }
  100% { transform: scale(1); }
}

